
.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 2rem 0;
}

.navbar-logo{
    width: 150px;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: darkslategray;
    font-size: 18px; 
    
}

.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar button{
   background: transparent;
   font-size: 16px;
   color: darkslategray;
    border: 1px solid tomato;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar button:hover{
    background: tomato;
    color: white;
}

.navbar .active{
   padding-bottom: 2px;
    border-bottom: 2px solid tomato;

}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    width: 10px;
    height: 10px;
    background: tomato;
    border-radius: 5px;
    top: -8px;
    right: -5px;
}


/* responsive-navbar */

@media screen and (max-width: 1050px){
    .navbar .logo{
      width: 140px;
    }

    .nav-menu{
       gap: 20px;
       font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img {
        width: 22px;
    }
    .navbar button{
        font-size: 15px;
        padding: 8px 25px;
    }

}


@media screen and (max-width: 900px){
    .navbar .logo{
      width: 130px;
    }
    .nav-menu{
       gap: 15px;
       font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img {
        width: 20px;
    }
    .navbar button{
        font-size: 14px;
        padding: 8px 20px;
    } 
}

@media screen and (max-width: 750px){
    .nav-menu{
       display: none;
    }
}

   
@media screen and (max-width: 480px){
    .navbar .logo{
      width: 100px;
    }
    .navbar-right{
        gap: 15px;
    }
    .navbar-right img {
        width: 18px;
    }
    .navbar button{
        font-size: 12px;
        padding: 6px 16px;
    }
}

@media screen and (max-width: 320px){
    .navbar .logo{
      width: 80px;
    }
    .navbar-right{
        gap: 10px;
    }
    .navbar-right img {
        width: 16px;
    }
    .navbar button{
        font-size: 10px;
        padding: 5px 12px;
    }
}